---
import Tour from '../components/Tour.astro';
import Navbar from '../components/Navbar.astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Czy dobrze?</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 70ch);
        }
    </style>
</head>
<body>
    <Navbar/>
    <main>
        <div class="bg-gradient-to-br from-indigo-900 to-green-900 min-h-screen overflow-auto">
          <div class="container max-w-5xl mx-auto px-4">
            <div class="w-4/5 mx-auto">
              <h1 class="mt-32 text-white text-6xl font-bold">
                Witaj na
                <a href="/">CzyDobrze</a>
              </h1>
            </div>
            <div class="w-4/5 my-10 mx-auto">
              <h3 class="text-gray-300">
                Sprawdź, poprawność odpowiedzi
                <strong class="text-white">swoich zadań domowych</strong>
                <br />
                Szybko, za darmo i bez konsekwencji
              </h3>
            </div>
            <div class="w-4/5 my-10 mx-auto">
               <h2>Wybierz swoją szkołę i klasę</h2>
               <Tour/>
            </div>
          </div>
        </div>


        <!--
           - You can also use imported framework components directly in your markup!
           -
           - Note: by default, these components are NOT interactive on the client.
           - The `:visible` directive tells Astro to make it interactive.
           -
           - See https://docs.astro.build/core-concepts/component-hydration/ 
           -->

    </main>
</body>
<style>
@tailwind base;
@tailwind components;
@tailwind utilities;
</style>
</html>
